@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
ul {list-style:none;}
a {text-decoration: none;}
*{
   margin: 0;
   padding: 0;
}

#skip {
   z-index: 2;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   li {
      a {
         display: block;
         width: 100%;
         background: #000;
         line-height: 0;
         font-size: 0;
         color: #fff;
         text-align: center;
         &:focus{
            line-height: 50px;
            font-size: 20px;
         }
      }
   }
}

#wrap {
   z-index: 1;
   position: relative;
   width: 100%;
   #header {
      position: fixed;
      width: 100%;
      height: 76px;
      z-index: 3;
      top: 0;
      left: 0;
      position: fixed;
      background: rgba(0,0,0,0);
      border-bottom: 1px solid rgba(255,255,255,0.15);
      
      .container {
         width: 1200px;
         height: 100%;
         margin: 0 auto;
         .gap {
            width: 100%;
            height: 100%;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            .left {
               height: 100%;
               width: 156px;
               display: flex;
               justify-content: center;
               align-items: center;
               h1 {
                  width: 100%;
                  a {
                     display: block;
                     width: 100%;
                     img {width: 100%;}
                  }
               }
            }
            .right {
               height: 100%;
               #nav {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  ul {
                     display: flex;    //한줄로 나열
                     li {
                        margin: 0 25px;
                        a {
                           text-transform: uppercase;
                           color: #fff;
                           font-size: 12px;
                           font-weight: 600;
                           font-family: 'Montserrat', sans-serif;
                           transition: all 0.2s;
                           &:hover {
                              color: #626262;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
   #main {
      width: 100%;
      z-index: 1;
      position: relative;
      #section1 {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: 100vh;
         background: url(../img/photography-img1.jpg) no-repeat 50% 50% fixed;
         background-size: cover;
         h2 {
            font-size: 200px;
            font-weight: 600;
            color: #00ff9780;
         }
      }
      #section2{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100vh;
         background: url(../img/photography-img2.jpg) no-repeat 50% 50% fixed;
         background-size: cover;
         h2 {
            font-size: 200px;
            font-weight: 600;
            color: #00ff9780;
         }
      }
      #section3 {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 100vh;
         background: url(../img/photography-img3.jpg)no-repeat 50% 50% fixed;
         background-size: cover;
         h2 {
            font-size: 200px;
            font-weight: 600;
            color: #00efff80;
         }
      }
      #section4 {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 100%;
         height: 100vh;
         background: url(../img/photography-img4.jpg) no-repeat 50% 50% fixed;
         background-size: cover;
         h2 {
            font-size: 200px;
            font-weight: 600;
            color: #00ff9780;
         }
      }
      #section5{
         display: flex;
         width: 100%;
         height: 110vh;
         background: url(../img/section5.jpg) no-repeat 50% 50% fixed;
         background-size: cover;
         align-items:flex-start;
         justify-content: center;
         h2 {
            font-size: 100px;
            color: #00ff9780;
            font-weight: 600;
         }
      }
      #section6{
         width: 100%;
         height: 110vh;
         display: flex;
         justify-content:flex-end;
         background: url(../img/photography-img6.jpg) no-repeat 50% 50% fixed;
         background-size: cover;
         h2 {
            font-size: 100px;
            font-size: 600;
            color: #00ff9780;;
         }
      }
      #section7{
         width: 100%;
         height: 100vh;
         background: #c99;
      }
      #section8{
         width: 100%;
         height: 100vh;
         background: #9c9;
      }

      /* SECTION 9 ==> before 사용 */
      #section9 {
         width: 100%;
         height: 246.391px;
         position: relative;
         &::before{
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            background: url(../img/photography-img35.jpg.webp) no-repeat 50% 50%;
            background-size: cover;
            z-index: 1;  //이미지는 아래로 깔림
            transition: all 0.3s;
            filter: brightness(50%);
         }
         h2 {
            font-size: 100px;
            position: absolute;
            z-index: 2; //글자가 위로 올라옴
            color: rgba(255,255,255,1);
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
         }
         &:hover::before {
            background-position: 50% 20%;
            filter: brightness(90%);
         }
      }

      /* SECTION10 => after사용 */
      #section10 {
         width: 100%;
         height: 246.391px;
         position: relative;
         &::after {
            content: '';
            display: block;
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url(../img/photography-img36.jpg.webp) no-repeat 50% 50%;
            background-size: cover;
            transition: all 0.3s;
            filter: brightness(50%);
         }
         h2 {
            font-size: 100px;
            position: absolute;
            z-index: 2;
            color: rgba(255,255,255,1);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
         }
         &:hover::after{
            background-position: 50% 20%;
            filter: brightness(90%);
         }
      }
      /* SECTION11 */
      #section11 {
         width: 100%;
         height: 246.391px;
         position: relative;
         &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: url(../img/photography-img37.jpg.webp) no-repeat 50% 50%;
            background-size: cover;
            transition: all 0.3s;
            filter: brightness(50%);
         }
         h2{
            position: absolute;
            font-size: 100px;
            z-index: 2;
            color: rgba(255,255,255,1);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
         }
         &:hover::before{
            background-position: 50% 20%;
            filter: brightness(90%);
         }
      }
      #section12 {
         width: 100%;
         height: 246.391px;
         position: relative;
         &::before{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: url(../img/photography-img38.jpg.webp) no-repeat 50% 50%;
            background-repeat: cover;
            transition: all 0.3s;
            filter: brightness(50%);
         }
         h2 {
            position: absolute;
            font-size: 100px;
            width: 100%;
            height: 100%;
            z-index: 2;
            color: rgba(255,255,255,1);
            display: flex;
            align-items: center;
            justify-content: center;
         }
         &:hover::before{
            filter: brightness(90%);
            background-position: 50% 20%;
         }
      }

      #section13 {
         width: 100%;
         height: 246.391px;
         position: relative;
         &::after {
            width: 100%;
            height: 100%;
            content: '';
            top: 0;
            left: 0;
            display: block;
            z-index: 1;
            background: url(../img/photography-img39.jpg.webp) no-repeat 50% 50%;
            background-size: cover;
            transition: all 0.3s;
            filter: brightness(50%);
         }
         h2 {
            font-size: 100px;
            width: 100%;
            height: 100%;
            z-index: 2;
            position: absolute;
            color: rgba(255,255,255,1);
            display: flex;
            align-items: center;
            justify-content: center;
         }
         &:hover::after{
            background-position: 50% 20%;
            filter: brightness(90%);

         }
      }

      #section14{
         margin: 0 auto;
         width: 100%;
         height: 50vh;
         display: flex;
         align-items: center;
         justify-content: center;
         
         img {
            
            margin: 10px 90px;
            display: flex;
            align-items: center;
            justify-content: center;
         }
         p {
            font-size: 13px;
            font-family: Montserrat;
            font-weight: 500;
            text-align: center;
            margin-top: 5px;
         }
      }

      #section15{
         width: 100%;
         height: 280px;
         position: relative;
         .type1 {
            display: flex;
            position: relative;
            width: 420.5px;
            height: 30px;
            .input1 {
               position: absolute;
               width: 100%;
               height: 100%;
               padding: 12px 15px;
               margin: 0 250px;
               background: #fff;
               border: 2px solid rgba(0,0,0,.1);
               &:hover {
                  border: 2px solid #000;
               }
               
            }
         }
         .type2 {
            display: block;
            width: 420.5px;
            height: 30px;
            position: relative;
            .input2 {
               width: 100%;
               height: 100%;
               padding: 12px 15px;
               margin: 50px 250px;
               background: #fff;
               border: 2px solid rgba(0,0,0,.1);
               position: absolute;
               transition: all 0.2s;
               &:hover{
                  border: 2px solid #000;
               }
            }
         }
         .type3 {
            display: block;
            position: relative;
            width: 420.5px;
            height: 118px;
            .input3 {
               position: absolute;
               width: 100%;
               height: 100%;
               padding: 12px ;
               margin: -60px 750px;
               text-align:start;
               background: #fff;
               border: 2px solid rgba(0,0,0,.1);
               transition: all 0.2s;
               color: rgba(0,0,0,.1);
               &:hover{
                  border: 2px solid #000;
               }
            }
         }
         p {
            font-size: 12px;
            font-weight: 500;
            display: block;
            font-family: Montserrat;
            letter-spacing: 1px;
            margin: 20px 250px;
            

         }
         .send-btn {
            //position: relative;
            display: block;
            width: 145.57px;
            height: 50.56px;
            background: #000;
            color: #fff;
            border: 4px solid #000;
            transition: all 0.3s;
            font-family: Montserrat;
            font-weight: 600;
            margin: -70px 750px;
            cursor: pointer;
            &:hover{
               background: #fff;
               color: #000;
            }
         }  
      }

      #section16 {
         width: 1519px;
         height: 236px;
         position: relative;
         margin: 0 auto;
         .icon {
            border-bottom: 2px solid rgba(0,0,0,.1);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            z-index: 2;
            position: relative;
            a {
               height: 100%;
               i {   
                  width: 27px;
                  height: 27px;
                  margin: 50px 15px;
               }
            } 
            .copy {
               height: 80%;
               display: flex;
               align-items:flex-end;
               justify-content:end;
               position: absolute;
               margin: 0 auto;
               span {
                  font-size: 12px;
                  font-family: Montserrat;
                  font-weight: 600;
                  a {
                     font-size: 12px;
                     font-family: Montserrat;
                     text-decoration: none;
                     &:visited {
                        text-decoration: none;
                        color: #000;
                     }
                  }
               }
            }
            
         }
       
         

         &::before {
            content: '';
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: url(../img/footer.jpg) no-repeat 50% 50%;
            background-size: cover;
            border-top: 1px solid rgba(0,0,0,.1);
         }
      }



   
      
   }


   #footer {
      
   }
}